/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main Container */
.login-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 100px auto; /* Center the container */
    background: rgba(255, 255, 255, 0.9); /* White container with transparency */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Left Side: Login Form */
.form-container {
    flex: 3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: 50px;
}

.form-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.options {
    display: flex;
    width: 90%; /* Match the width of the inputs */
    margin-bottom: 20px;
    color: #555;
    font-size: 0.9rem;
    padding-left: 16px;
    justify-content: space-between;
}

.options a {
    color: #002286;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 88%;
    padding: 10px;
    background-color: #0d63ad;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

button[type="submit"]:hover {
    background-color: #24659d;
}

/* Right Side: Image */
.image-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    padding: 20px;
}

.image-container img {
    width: 110%;
    height: 150%;
    object-fit: cover;
}

.captcha-container {
    margin-left: 10px;
}

.g-recaptcha {
    display: inline-block; /* Ensure proper centering */
}

/* Error Message Styling */
.error-messages {
    color: rgb(255, 0, 0);
    margin: 10px 0; /* Ensure spacing above and below the errors */
    display: flex; /* Align items inline */
    flex-direction: column; /* Stack errors vertically */
    font-size: 20px; /* Adjust size to make consistent */
    text-align: center;
}

