.container {
    margin-left: 280px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-right: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

hr {
    border: 0.5px solid #ccc;
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 20px;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

