body {
    font-family: "Times New Roman", Times, serif;
}

.cart-title {
    width: 65%;
    margin: auto;
    color: rgb(102, 102, 102);

}

.cart {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

label.upload img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    padding: 0;
    float: left;
}

.item-checkbox,
.checkall,
.checkall {
    width: 15px;
    height: 15px;
}

.checkBox {
    text-align: center;
    width: 40px;
}

.item_desc {
    display: flex;
}

.item_details {
    text-align: center;
    width: 120px;
}

.emptySpace {
    height: 40px;
}

.decrement-btn,
.increment-btn {
    font-size: 10px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin: 5px;
}

.delete-button,
.delete-all-btn {
    background: none;
    border: 0;
}

.delete-button:hover,
.delete-all-btn:hover {
    color: red;
}

.amount_container {
    width: 70%;
    height: 80px;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(230, 230, 230);
    position: sticky;
    bottom: 0;
}

.select-all-text {
    width: 120px;
    font-size: 17px;
}

.delete-all-btn {
    font-size: 15px;
}

.totalitem {
    margin: 0;
    padding: 0;
    width: 140px;
    font-size: 18px;
}

.totalamount {
    width: 70px;
    font-size: 18px;
}

.checkout {
    width: 200px;
}

.checkout-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 90%;
    height: 50%;
}

.checkout-btn:hover {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

.cart-no-product {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 150px;
    padding-bottom: 250px;
    text-align: center;
}

.cart-no-product i {
    font-size: 60px;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.cart-no-product div {
    padding-top: 10px;
    font-size: 18px;
}

/* checkout title css*/
.checkout-title {
    width: 65%;
    margin: auto;
    color: rgb(102, 102, 102);
}

/* checkout address table css */
.checkout-addressTable {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(242, 242, 242, 0.5);
}

.checkout-addressTable-a {
    padding-left: 30px;
    padding-top: 20px;
    font-size: 18px;
}

.checkout-addressTable-b {
    padding-left: 30px;
    width: 180px;
    height: 60px;
    font-size: 17px;
}

.checkout-addressTable-c {
    font-size: 17px;
}

.checkout-addressTable-d {
    width: 120px;
    text-align: center;
}

.checkout-addressTable-d-btn {
    background-color: rgb(242, 242, 242, 0);
    color: rgb(0, 0, 255);
    border: 0;
    font-size: 15px;
}

.checkout-addressTable-d-btn:hover {
    color: rgb(0, 0, 255, 0.7);
}

/* checkout product table css */
.checkout-productTable {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(242, 242, 242, 0.5);
}

.checkout-productTable-columnheader1 {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 17px;
}

.checkout-productTable-columnheader2 {
    width: 150px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

label.checkout-productTable-productphoto img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    padding: 0;
    float: left;
}

.checkout-productTable-product {
    padding-left: 30px;
    height: 80px;
}

.checkout-productTable-productdetails {
    width: 150px;
    text-align: center;
}

/* checkout payment table css */
.checkout-paymentTable {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background-color: rgb(242, 242, 242, 0.5);
}

.checkout-paymentTable-paymentmethod {
    display: flex;
}

.checkout-paymentTable-paymentmethodtext {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: 17px;
}

.payment-option {
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 2px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    background-color: rgb(242, 242, 242, 0.5);
    ;
}

.payment-option:hover {
    border: 1.5px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
}

.payment-option.active {
    border: 1.5px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
}

.checkout-paymentTable-hrline hr {
    padding: 0;
    margin: 0;
}

.checkout-paymentTable-vouchertext {
    padding-left: 30px;
    font-size: 17px;
}

.checkout-paymentTable-voucher {
    width: 180px;
    padding-right: 30px;
    text-align: right;
    height: 50px;
}

.checkout-paymentTable-voucher-btn {
    background-color: rgb(242, 242, 242, 0);
    color: rgb(0, 0, 255);
    border: 0;
    font-size: 15px;
}

.checkout-paymentTable-voucher-btn:hover {
    color: rgb(0, 0, 255, 0.7);
}

.checkout-paymentTable-paymenttext {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    line-height: 30px;
}

.checkout-paymentTable-amount {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    width: 200px;
    line-height: 30px;
    text-align: right;
}

.checkout-placeOrder {
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.checkout-placeOrder-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 200px;
    height: 35px;

}

/*checkout address pop up css*/
#checkout-addresspopup-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#checkout-addresspopup-modal::-webkit-scrollbar {
    display: none;
}

#checkout-addresspopup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.checkout-addresspopup-title {
    margin: 0;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: rgb(240, 240, 240);
    position: sticky;
    top: 0;
}

#checkout-addresspopup-defaultaddress {
    font-size: 15px;
    margin-top: 7px;
    border: 1px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    width: 52px;
    text-align: center;
}

.checkout-addresspopup-radio {
    padding-left: 22px;
    width: 30px;
}

.checkout-addresspopup-radio-btn {
    width: 16px;
    height: 16px;
}

.checkout-addresspopup-address {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-size: 17px;
}

.checkout-addresspopup-addressinfo {
    color: rgb(0, 0, 0, 0.8);
    line-height: 1.4;
}

.checkout-addresspopup-edit {
    width: 90px;
    text-align: center;
    line-height: 0;
}

.checkout-addresspopup-edit-btn {
    background-color: rgb(242, 242, 242, 0);
    color: rgb(0, 0, 255);
    border: 0;
    font-size: 15px;
}

.checkout-addresspopup-edit-btn:hover {
    color: rgb(0, 0, 255, 0.7);
}

.checkout-addresspopup-addnew-btn {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 25px;
    font-size: 16px;
    width: 180px;
    height: 35px;
    border: 1px solid rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
    color: rgb(115, 115, 115);
}

.checkout-addresspopup-table-action {
    height: 60px;
    background-color: rgb(240, 240, 240);
    position: sticky;
    bottom: 0;
}

.checkout-addresspopup-emptyspace {
    width: 200px;
}

#checkout-addresspopup-confirm-btn {
    width: 130px;
    height: 35px;
    border: 0;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 77, 77);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkout-addresspopup-cancel-btn {
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#checkout-addresspopup-confirm-btn:hover {
    background-color: rgb(255, 77, 77, 0.8);
}

#checkout-addresspopup-cancel-btn:hover {
    background-color: rgb(250, 250, 250);
}

/*checkout edit pop up css*/
#checkout-editpopup-modal,
#checkout-addaddress-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 330px;
    padding: 25px;
    margin: 0;
}

.checkout-editpopup-title,
.checkout-addaddress-title {
    font-size: 20px;
}

.checkout-editpopup-infolabel,
.checkout-addaddress-infolabel {
    font-size: 14px;
    color: rgb(160, 160, 160);
}

.checkout-editpopup-fixedinfo,
.checkout-addaddress-fixedinfo {
    padding-top: 12px;
    width: 200px;
}

.checkout-editpopup-addressinfo,
.checkout-addaddress-addressinfo {
    width: 550px;
    padding-top: 12px;
}

.checkout-editpopup-emptyspace,
.checkout-addaddress-emptyspace {
    width: 300px;
}

#checkout-editpopup-confirm-btn,
#checkout-addaddress-confirm-btn {
    width: 130px;
    height: 35px;
    border: 0;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 77, 77);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 5px;
}

#checkout-editpopup-cancel-btn,
#checkout-addaddress-cancel-btn {
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 10px;
}

#checkout-editpopup-confirm-btn:hover,
#checkout-addaddress-confirm-btn:hover {
    background-color: rgb(255, 77, 77, 0.8);
}

#checkout-editpopup-cancel-btn:hover,
#checkout-addaddress-cancel-btn:hover {
    background-color: rgb(250, 250, 250);
}

.input-box {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* card details modal css*/
#cardDetailsModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
}

.checkout-cardpopup-table {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkout-cardpopup-title {
    font-size: 20px;
}

.checkout-cardpopup-cardnumber {
    width: 100%;
    padding-top: 15px;
}

.checkout-cardpopup-empty {
    width: 30px;
}

.checkout-cardpopup-expiry,
.checkout-cardpopup-cvv,
.checkout-cardpopup-country,
.checkout-cardpopup-zipcode {
    padding-top: 10px;
}

.checkout-cardpopup-infolabel {
    font-size: 15px;

}

#cardNumber {
    width: 370px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#cardExpiry,
#cardCVV,
#cardCountry,
#cardZipCode {
    width: 160px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.checkout-cardpopup-pay {
    width: 100%;
    padding-top: 15px;
}

.checkout-cardpopup-cancel {
    width: 100%;
    padding-top: 10px;
}

.checkout-cardpopup-pay-btn {
    width: 390px;
    height: 37px;
    background-color: rgb(0, 0, 255, 0.8);
    color: rgb(255, 255, 255);
    border-radius: 3px;
    border: 0;
}

.checkout-cardpopup-pay-btn:hover {
    background-color: rgb(0, 0, 255, 0.65);
}

.checkout-cardpopup-cancel-btn {
    width: 390px;
    height: 37px;
    border: 1px solid rgb(0, 0, 255, 0.8);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 255, 0.8);
    border-radius: 3px;
}

.checkout-cardpopup-cancel-btn:hover {
    background-color: rgb(242, 242, 242);
}




#checkout-editpopup-confirm-btn,
#checkout-addaddress-confirm-btn {
    width: 130px;
    height: 35px;
    border: 0;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 77, 77);
    color: rgb(255, 255, 255);
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 5px;
}

#checkout-editpopup-cancel-btn,
#checkout-addaddress-cancel-btn {
    width: 130px;
    height: 35px;
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 10px;
}

#checkout-editpopup-confirm-btn:hover,
#checkout-addaddress-confirm-btn:hover {
    background-color: rgb(255, 77, 77, 0.8);
}

#checkout-editpopup-cancel-btn:hover,
#checkout-addaddress-cancel-btn:hover {
    background-color: rgb(250, 250, 250);
}

/* voucher modal css*/
#voucher-popup-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
}

.voucher-popup-modal-table {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.voucher-popup-modal-title {
    font-size: 20px;
}

label.voucher-photo img {
    width: 70px;
    height: 35px;
    color: white;
}

.orderRecord-member-voucher {
    width: 90%;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-bottom: 12px;
}

.orderRecord-voucher-photo {
    width: 30%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 30px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(230, 230, 230);
}

.orderRecord-voucher-desc {
    width: 52%;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    line-height: 20px;
}

.orderRecord-voucher-shop {
    width: 18%;
}

.orderRecord-voucher-shop-wrapper {
    margin-top: 40px;
    border: 1px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 50px;
}

.orderRecord-voucher-shop-btn {
    color: rgb(0, 0, 255);
}

.orderRecord-voucher-shop-wrapper:hover {
    background-color: rgb(245, 245, 245);
}

.voucher-popup-modal-close-btn {
    padding-right: 10px;
}

.voucher-popup-modal-close-btn:hover {
    color: red;
}


/* voucher display */
.checkout-paymentTable-voucherDisplay {
    display: inline-flex;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    padding-left: 15px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.checkout-paymentTable-voucherDisplay-close {
    background-color: rgb(242, 242, 242, 0.5);
    border: 0;
    margin-left: 5px;
}

.checkout-paymentTable-voucherDisplay-close:hover {
    color: red;
}