header {
    background-color: rgb(255, 255, 255);
}

.header-container {
    display: flex;
    margin-left: 12%;
    margin-right: 12%;
    overflow: hidden;
}

.container-left {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

img {
    padding-top: 15px;
    width: 220px;
    height: 70px;
}

.container-right {
    width: 100%;
}

.container-right1 {
    height: 50px;
}

.container-right2 {
    height: 50px;
}

ul {
    margin: 0px;
    display: block;
}

.right {
    margin: 0px;
    float: right;
    display: flex;
    margin-left: 30px;
    padding-top: 15px;
}

.left {
    margin: 0px;
    float: left;
    display: flex;
    margin-right: 30px;
    padding-top: 15px;
}


footer * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

footer ul{
    list-style: none;
}

footer {
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.833), rgba(8, 1, 1, 0.73)),
    url("/images/lining_logo.jpg");

    background-size: cover;
    color: white;
    padding: 20px;
}

footer p{
    color: #ccc;
    max-width: 25em;
    font-size: 0.9em;
    line-height: 23px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer h4{
    margin-bottom: 1em;
    text-transform: uppercase;
}

footer .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.footer1 {
    position: relative;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0.73)),
    url("/image/lining_logo.png");

    background-size: cover;
}

.footer1::before{
    content: '';
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.footer1 .container{
    position: relative;
}

.footer1 .footer-top .container,
.footer1 .col2,
.footer1 .footer-bottom .container{
    display: flex;
    justify-content: space-between;
    gap: 2em;

}

.footer1 .footer-bottom .container{
    padding: 1em 2em;
    align-items: center;

}

.footer1 .menu li{
    margin-bottom: 0.6em;

}

.footer1 .footer-bottom .container{
    padding: 1em 2em;
    align-items: center;
}

.footer1 .menu li{
    margin-bottom: 0.6em;
}

.footer1 .menu a:hover{
    text-decoration: underline;
}

.brand{
    display: block;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 1em;
}

.media-icons li,
.service-icons li {
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #121315 solid ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    opacity: 0.5;

}

.service-icons a{
    font-size: 1.6em;

}

.service-icons a:hover{
    color: rgb(255, 5, 5);
    opacity: 0.5;
}

.footer-bottom{
    border-top: 1px black solid;
}


.footer2{ 
    text-align: center;
}

.footer2 .menu li {
    display: inline-block;
    margin: 1.7em;
    text-align: center;
}

.footer2 p {
    margin: 0 auto;
}

.footer2 .media-icons{
    margin: 1.5em 0;
}




