* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.login-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 100px auto; /* Center the container */
    background: rgba(255, 255, 255, 0.9); /* White container with transparency */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    height: 90vh;
}

/* Left Side: Login Form */
.form-container {
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    margin: 50px; /* Ensure a white background for the form */
}

.form-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.form-container p {
    color: #555;
}

.form-group {
    margin-bottom: 20px;
    width: 100%; /* Ensure inputs adjust to the container */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%; /* Input field width */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-section .link-container {
    display: flex;
    justify-content: center;  
    font-size: 14px;
    margin-top: 15px; 
    gap: 5px;
}

.signIn-text {
    text-align: center;
    margin-top: 20px;
    color: #555;
    width: 100%; /* Match the width of inputs and buttons */
}

.signIn-text a {
    color: #ff5a5f;
    text-decoration: none;
    font-weight: bold;
}

.signIn-text a:hover {
    text-decoration: underline;
}

.btn-signup {
    width: 100%; 
    padding: 10px;
    background-color: #ff5a5f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 15px;
}

.btn-signup:hover {
    background-color: #e74c3c;
}


.form-container .error-message {
    color: red;
    font-size: 0.85em;
    margin-top: 5px; 
    margin-bottom: 30px; 
    width: 100%; 
}

.slideshow-container {
    flex: 3; /* Takes up the remaining space on the right side */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;  
    height: 90vh; 
    background: #f9f9f9;
    position: relative; 
    padding: 0;
}

/* Slides */
.mySlides {
    display: none;
    width: 100%; 
    height: 100%; 
    position: absolute; /* Position slides over each other */
    padding: 0;
}

.mySlides img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ensures the image scales to cover the container */
    object-position: center; /* Centers the image within the container */
    margin: 0; 
    padding: 0; 
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}